# Refs for parameters:
#   http://www.premierbiosoft.com/tech_notes/PCR_Primer_Design.html
#   http://www.genomecompiler.com/tips-for-efficient-primer-design/
#   https://www.idtdna.com/pages/support/faqs/how-do-you-calculate-the-annealing-temperature-for-pcr-
#   http://www.idtdna.com/pages/support/how-can-i-check-my-pcr-primers-using-the-oligoanalyzer-program-to-ensure-there-are-no-significant-primer-design-issues-
#
K: 20

LEN_LOWER: 150
LEN_UPPER: 800

TM_LOWER: 55
TM_UPPER: 62
TM_DIFF_MAX: 5

GC_LOWER: 0.4
GC_UPPER: 0.6
GC_CLAMP: True  # last 5 bases at 3' end should have 1 to 3 G or C

# check secondary structures: hairpin and dimers
SS: True
# hairpin delta G limit : 2K at 3' and 3K at mid (cal/mol)
HP_DG_LIMIT: -3000  
# heteral and self dimers detal G limit: 5K at 3' and 6K at mid
DI_DG_LIMIT: -6000
